@import "tailwindcss";

@font-face {
  font-family: "Orb";
  font-weight: 400;
  src: url("/fonts/Orb.ttf");
}

@font-face {
  font-family: "Mont";
  font-weight: 400;
  src: url("/fonts/Mont.ttf");
}

@font-face {
  font-family: "Poster";
  font-weight: 400;
  src: url("/fonts/poster.otf");
}

@font-face {
  font-family: "Star";
  font-weight: 400;
  src: url("/fonts/Starjedi.ttf");
}

@font-face {
  font-family: "Jhol";
  font-weight: 400;
  src: url("/fonts/Starjhol.ttf");
}

@theme {
  --font-orb: "Orb";
  --font-star: "Star";
  --font-jhol: "Jhol";
  --font-mont: "Mont";
  --font-poster: "Poster";


  --breakpoint-galaxy: 300px;
  --breakpoint-preG: 480px;
  --breakpoint-wickra: 520px;
  --breakpoint-mid: 950px;
  --breakpoint-tablet: 1260px;
  --breakpoint-wrap: 1360px;
  --breakpoint-alto: 1950px;
  --breakpoint-stuck1: 1120px;
  --breakpoint-stuck2: 1440px;
  --breakpoint-stuck3: 1507px;
}

@layer utilities {
  .font-orb {
    font-family: var(--font-orb);
  }
  .font-poster {
    font-family: var(--font-poster);
  }
  .font-mont {
    font-family: var(--font-mont);
  }
  .font-star {
    font-family: var(--font-star);
  }
  .font-jhol {
    font-family: var(--font-jhol);
  }
}

html {
  background: #4c1d95;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

html::-webkit-scrollbar-track:active {
  background-color: transparent !important;
  opacity: 0;
}

html::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}

div::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

div::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

div::-webkit-scrollbar-track:active {
  background-color: transparent !important;
  opacity: 0;
}

div::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}

.infinite-scroll-component__outerdiv {
  width: 100%;
}

#fadedQuote {
  -webkit-mask-image: linear-gradient(
    to bottom,
    #1f2937 0%,
    #000000 50%,
    transparent 95%
  );
  mask-image: linear-gradient(
    to bottom,
    to bottom,
    #1f2937 0%,
    #000000 50%,
    transparent 100%
  );
}
